.header-main {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    border-bottom: 4px solid rgb(74, 96, 209);
    background-color: rgb(170, 202, 230);
    margin: 0;
}

.sidebar-button {
    border: none;
    color: rgb(47, 46, 49);
    border-radius: 0%;
}

.footer-main {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}