.header-main {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    border-bottom: 4px solid rgb(42, 42, 42);
    background-color: rgb(39, 39, 39);
    margin: 0;
}

#side-bar {
    height: 100%;
    width: 12vw;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.sidebar-button {
    border: none;
    color: rgb(47, 46, 49);
    border-radius: 0%;
}

#home-main-body {
    width: 100vw;
    display: flex;
}

#home-content {
    width: 80vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

#latest-blog {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    grid-column: span 1;
    grid-row: span 4;
}

#chat {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    grid-column: span 1;
    grid-row: span 2;
}

#current-project {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    grid-column: span 1;
    grid-row: span 2;
}

.footer-main {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}