.chat-theme-button {
    text-decoration: none;
    color: antiquewhite;
    width: 100%;
    padding: 15px;
    background-color: rgb(42, 42, 42);
    border: 2px solid rgb(52, 52, 52);
    box-sizing: border-box;
}